[user]
	email = me@lucasvanlierop.nl
	name = Lucas van Lierop
[core]
	excludesfile = ~/.gitignore_global
[cola]
	textwidth = 69
[push]
	default = current
[pull]
	default = current
[merge]
	keepbackup = false
