.android/debug.keystore
.ansible/tmp
.apport-ignore.xml
.bash-env-vars
.bash_history
.cabal
.cache
.compiz/session/*
.config/Blue Jeans
.config/Clementine
.config/Code/*
.config/compiz-1
.config/configstore/bower
.config/dconf
.config/dleyna-server-service.conf
.config/enchant
.config/eog
.config/evince
.config/evolution
.config/filezilla
.config/gedit
.config/git-cola
.config/gnome-control-center/backgrounds
.config/google-chrome
.config/gthumb
.config/gtk-*
.config/hotot
.config/htop/htoprc
.config/ibus
.config/inkscape
.config/libaccounts-glib
.config/libreoffice
.config/menus
.config/monitors.xml*
.config/nautilus
.config/pavucontrol.ini
.config/pulse
.config/QtProject.conf
.config/signond/signon.db
.config/Skype
.config/Slack
.config/software-center/softwarecenter.cfg
.config/Trolltech.conf
.config/ubuntu-tweak
.config/unity/first_run.stamp
.config/unity-tweak-tool/debug.log
.config/update-notifier/hooks_seen
.config/VirtualBox
.config/vlc
.config/yad.conf
.config/yelp
.dcos/dcos.toml
Desktop
.dbus/session-bus
.dia
.dmrc
.docker/config.json
.docker/machine
Downloads
.dropbox
Dropbox
.dropbox-dist/*
.gconf/apps/blueman
.gconf/apps/%gconf.xml
.gconf/apps/nm-applet/%gconf.xml
.gconf/apps/pyrenamer/%gconf.xml
.gem
.gimp-2.8
.gnupg
.gstreamer*
.hplip/hplip.conf
.ICEauthority
.idea-build
.ilg-config
.ivy2
.java
.kde
.lastpass/*
.lesshst
.links2
.local/bin
.local/lib/*
.local/share
.mozilla/firefox
Music
.nano
.node-gyp
.npm/
.openshot
.oracle_jre_usage
.pki
.rainbow_oauth
.rnd
.sbt/boot
.scala_history
.Skype
.ssh
.ssh/id_rsa
.sudo_as_admin_successful
.thumbnails
.thunderbird
.v8flags*
.vagrant.d
.viminfo
VirtualBox VMs
vpn
.watershed
workspace
.Xauthority
.xinputrc
.xsession-errors
