config/componentVersions/*
config/consoles/db
config/eval/*.key
config/*.key
config/jdbc-drivers
config/options/updates.xml
config/extensions/com.intellij.database/data/extractors
config/plugins/*
config/tasks/*
config/options/*statistics*
config/options/find*.xml
config/options/options.xml
config/options/php.xml
config/options/recentProjectDirectories.xml
config/options/runner-layout.xml
config/options/security.xml
config/options/webServers.xml
config/options/watcherDefaultTasks.xml
config/options/window*
config/disabled_plugins.txt
config/disabled_update.txt
config/extensions/
config/inspection/
config/installed.txt
config/keymaps/
config/options/IntelliLang.xml
config/options/appComponentVersions.xml
config/options/applicationLibraries.xml
config/options/baseRefactoring.xml
config/options/cachedDictionary.xml
config/options/databaseDrivers.xml
config/options/databaseSettings.xml
config/options/debugger.xml
config/options/dimensions.xml
config/options/editor.codeinsight.xml
config/options/editor.xml
config/options/extensionsRootType.xml
config/options/file.template.settings.xml
config/options/git.xml
config/options/github_settings.xml
config/options/ide.general.xml
config/options/ignore.xml
config/options/images.support.xml
config/options/keymap.xml
config/options/laf.xml
config/options/markdown.xml
config/options/notifications.xml
config/options/other.xml
config/options/path.macros.xml
config/options/project.default.xml
config/options/proxy.settings.xml
config/options/runner.layout.xml
config/options/stubIndex.xml
config/options/systemNotifications.xml
config/options/template.settings.xml
config/options/textmate.xml
config/options/ui.lnf.xml
config/options/usageView.xml
config/options/web-browsers.xml
config/options/xpath.xml
config/port
config/port.lock
system/*

